<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="shortcut icon" href="/Images/favicon_io/favicon-16x16.png" type="image/x-icon">
</head>
<body>
    <h1>Hello and Welcome to Bling </h1>
    <p>See u soon in the real world guys , Stay Connected </p>
    <img src="/Images/Bling-logo.png" alt="">
</body>
</html>