<link rel="stylesheet" href="/css/login.css">

<div class="login-wrapper">
    <div id="login-image">
        <img src="/Images/loginPage/1.jpg" alt="" >
    </div>
    <div id="login-section">
        <h1>Welcome Back!</h1>
        <div id="login-container">
            <form action="/users/login/createsession" method="post">
                <input type="text" name="email" id="" class="credentials" placeholder="email">
                <input type="password" class=" credentials" placeholder=" password" name="password">
                <div id="link" >
                    <a href="/users/signup" id="sign-in">Sign Up Now</a>
                    <a href="" id="fpwd"> Forgot password?</a>
                </div>
                <input type="submit" value="Login Now" class="credentials login-btn">
            </form>
        </div>
    </div>
</div>