<link rel="stylesheet" href="./css/navbar.css">
<nav class="width-full">
    <div id="logo-section">
        <a href="/">
            <h3 id="logo-main">Bling</h3><span> <h5 id="logo-slogan">The new Age social media </h5></span>
        </a>
    </div>
    <div id="user-section">
        <div id="search">
            <div id="search-container">
                <form action="">
                    <input type="text" name="" id="search-text" placeholder="Search.....">
                    <input type="submit" value="Search" id="search-button" class="hidden">
                </form>
            </div>
        </div>
        <% if (locals.user){ %>
                <div id="user-profile">
                    <img src="" alt="profile image">
                </div>
                <div id="loggedIn-links" class="hidden loggedIn-links">
                    <ul>
                        <li class="" ><a href="" class="loggedLink">Profile</a></li>
                        <li ><a href="/users/logout" class="loggedLink">Log out Now </a></li>
                    </ul>
                </div>
        <% }else{%>
            <div class="sessions">
                <a href="/users/signup" ><button id="login">Sign Up</button></a>
                <a href="/users/login" > <button id="login">Login Now </button></a>
            </div>
        <% } %>
    </div>
</nav>
<script src="./scripts/navbarScript.js"></script>